.page_card {
    display: flex;
    padding-bottom: 15px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 8px;
    background-color: white;
    width: 300px;
    height: 350px;
}
.page_card.deleted {
    background-color: grey;
}
