.container {
  max-width: 1110px;
  width: 90%;
  margin: 0 auto;
}
.cardSection {
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.left {
  width: 40%;
  color: #fff;
  font-size: 34px;
  font-family: Arial, Helvetica, sans-serif;
}
.right {
  width: 60%;
  color: #000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
.card {
  display: flex;
  padding-bottom: 15px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 8px;
  background-color: white;
  width: 300px;
  height: 350px;
}
.card h1 {
  font-size: 28px;
  color: #c70039;
}
.card p {
  font-size: 20px;
}
.card img {
  height: 150px;
  width: 300px;
  overflow: hidden;
}
.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.cardFooter {
  height: 20px;
  width: 100%;
  color: #c70039;
  transition: 0.5s ease-in-out;
  border-top: 1px solid #c70039;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
}
.cardFooter:hover {
  color: #c70039;
}
