.container {
  max-width: 1110px;
  width: 90%;
  margin: 0 auto;
}
.cardSection {
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.left {
  width: 40%;
  color: #fff;
  font-size: 34px;
  font-family: Arial, Helvetica, sans-serif;
}
.right {
  width: 60%;
  color: #000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
.card {
  display: flex;
  padding-bottom: 15px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 8px;
  background-color: white;
  width: 300px;
  height: 350px;
}
