body {
  background-color: #000;
}
.container {
  max-width: 1110px;
  width: 90%;
  margin: 0 auto;
}
.header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo img {
  width: 65px;
  height: 70px;
}
.navigation {
  width: 400px;
}
.navClass {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navClass li {
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.5s ease-out;
  font-weight: 700;
  cursor: pointer;
  color: #fff;
}
.navClass li:hover {
  color: #c70039;
}
.activeNav {
  color: #c70039;
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.5s ease-out;
  font-weight: 700;
  cursor: pointer;
}
