.pageCardContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.pageCardContent h1 {
  font-size: 28px;
  color: #c70039;
}
.pageCardContent p {
  font-size: 20px;
}
