.pageCardContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.pageCardContent h1 {
  font-size: 28px;
  color: #c70039;
  margin-bottom: 10px;
}
.pageCardContent p {
  font-size: 20px;
  line-height: 24px;
}
.vote_text {
  font-size: 14px;
  font-style: italic;
  margin-top: 10px;
}
.vote_text span {
  color: #c70039;
  cursor: pointer;
}
